[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
tox = "*"
tox-pipenv = "*"
black = "*"

[pipenv]
allow_prereleases = true
